body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.game {
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.download {
    display: inline-block;
    background: #0073e6;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.download:hover {
    background: #005bb5;
}

.game-icon {
    width: 100%; /* 親要素の幅いっぱいにする */
    max-width: 150px; /* 必要に応じて調整 */
    height: auto; /* 縦横比を維持 */
    display: block; /* インライン要素の余白を消す */
    margin: 0 auto; /* 中央配置 */
}

